<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (serviceHighlight(); as serviceHighlightRef) {
      <div>
        <h2 data-cy="serviceHighlightDetailsHeading">
          <span jhiTranslate="abofonsaPreviewApp.serviceHighlight.detail.title">Service Highlight</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ serviceHighlightRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="abofonsaPreviewApp.serviceHighlight.label">Label</span></dt>
          <dd>
            <span>{{ serviceHighlightRef.label }}</span>
          </dd>
          <dt><span jhiTranslate="abofonsaPreviewApp.serviceHighlight.displayOrder">Display Order</span></dt>
          <dd>
            <span>{{ serviceHighlightRef.displayOrder }}</span>
          </dd>
          <dt><span jhiTranslate="abofonsaPreviewApp.serviceHighlight.service">Service</span></dt>
          <dd>
            @if (serviceHighlight()!.service) {
              <div>
                <a [routerLink]="['/care-service-teaser', serviceHighlight()!.service?.id, 'view']">{{
                  serviceHighlightRef.service?.name
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/service-highlight', serviceHighlightRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
