<div>
  <h2 id="page-heading" data-cy="PlanFeatureHeading">
    <span jhiTranslate="abofonsaPreviewApp.planFeature.home.title">Plan Features</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="abofonsaPreviewApp.planFeature.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plan-feature"
        [routerLink]="['/plan-feature/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="abofonsaPreviewApp.planFeature.home.createLabel">Create a new Plan Feature</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (planFeatures().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="abofonsaPreviewApp.planFeature.home.notFound">No Plan Features found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="label">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.planFeature.label">Label</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="included">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.planFeature.included">Included</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="emphasised">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.planFeature.emphasised">Emphasised</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="displayOrder">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.planFeature.displayOrder">Display Order</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="plan.name">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.planFeature.plan">Plan</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (planFeature of planFeatures(); track trackId(planFeature)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/plan-feature', planFeature.id, 'view']">{{ planFeature.id }}</a>
              </td>
              <td>{{ planFeature.label }}</td>
              <td>{{ planFeature.included }}</td>
              <td>{{ planFeature.emphasised }}</td>
              <td>{{ planFeature.displayOrder }}</td>
              <td>
                @if (planFeature.plan) {
                  <div>
                    <a [routerLink]="['/care-plan-teaser', planFeature.plan.id, 'view']">{{ planFeature.plan.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/plan-feature', planFeature.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/plan-feature', planFeature.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(planFeature)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
