<div>
  <h2 id="page-heading" data-cy="CareServiceTeaserHeading">
    <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.home.title">Care Service Teasers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-care-service-teaser"
        [routerLink]="['/care-service-teaser/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.home.createLabel">Create a new Care Service Teaser</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (careServiceTeasers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.home.notFound">No Care Service Teasers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="slug">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.slug">Slug</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="blurb">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.blurb">Blurb</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="iconKey">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.iconKey">Icon Key</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="availableOn">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.availableOn">Available On</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="displayOrder">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.displayOrder">Display Order</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="published">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.careServiceTeaser.published">Published</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (careServiceTeaser of careServiceTeasers(); track trackId(careServiceTeaser)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/care-service-teaser', careServiceTeaser.id, 'view']">{{ careServiceTeaser.id }}</a>
              </td>
              <td>{{ careServiceTeaser.slug }}</td>
              <td>{{ careServiceTeaser.name }}</td>
              <td>{{ careServiceTeaser.blurb }}</td>
              <td>{{ careServiceTeaser.iconKey }}</td>
              <td>{{ careServiceTeaser.availableOn }}</td>
              <td>{{ careServiceTeaser.displayOrder }}</td>
              <td>{{ careServiceTeaser.published }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/care-service-teaser', careServiceTeaser.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/care-service-teaser', careServiceTeaser.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(careServiceTeaser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
