<div>
  <h2 id="page-heading" data-cy="PledgeTierTeaserHeading">
    <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.home.title">Pledge Tier Teasers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pledge-tier-teaser"
        [routerLink]="['/pledge-tier-teaser/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.home.createLabel">Create a new Pledge Tier Teaser</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (pledgeTierTeasers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.home.notFound">No Pledge Tier Teasers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.code">Code</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="blurb">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.blurb">Blurb</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.amount">Amount</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.currency">Currency</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="voucherValue">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.voucherValue">Voucher Value</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="handoffUrl">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.handoffUrl">Handoff Url</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="displayOrder">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.displayOrder">Display Order</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="published">
              <div class="d-flex">
                <span jhiTranslate="abofonsaPreviewApp.pledgeTierTeaser.published">Published</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (pledgeTierTeaser of pledgeTierTeasers(); track trackId(pledgeTierTeaser)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/pledge-tier-teaser', pledgeTierTeaser.id, 'view']">{{ pledgeTierTeaser.id }}</a>
              </td>
              <td [jhiTranslate]="'abofonsaPreviewApp.PledgeTierCode.' + (pledgeTierTeaser.code ?? 'null')">
                {{ { null: '', BRONZE: 'BRONZE', SILVER: 'SILVER', GOLD: 'GOLD' }[pledgeTierTeaser.code ?? 'null'] }}
              </td>
              <td>{{ pledgeTierTeaser.name }}</td>
              <td>{{ pledgeTierTeaser.blurb }}</td>
              <td>{{ pledgeTierTeaser.amount }}</td>
              <td>{{ pledgeTierTeaser.currency }}</td>
              <td>{{ pledgeTierTeaser.voucherValue }}</td>
              <td>{{ pledgeTierTeaser.handoffUrl }}</td>
              <td>{{ pledgeTierTeaser.displayOrder }}</td>
              <td>{{ pledgeTierTeaser.published }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/pledge-tier-teaser', pledgeTierTeaser.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/pledge-tier-teaser', pledgeTierTeaser.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(pledgeTierTeaser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
