<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (pledgeTierPerk(); as pledgeTierPerkRef) {
      <div>
        <h2 data-cy="pledgeTierPerkDetailsHeading">
          <span jhiTranslate="abofonsaPreviewApp.pledgeTierPerk.detail.title">Pledge Tier Perk</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ pledgeTierPerkRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="abofonsaPreviewApp.pledgeTierPerk.label">Label</span></dt>
          <dd>
            <span>{{ pledgeTierPerkRef.label }}</span>
          </dd>
          <dt><span jhiTranslate="abofonsaPreviewApp.pledgeTierPerk.displayOrder">Display Order</span></dt>
          <dd>
            <span>{{ pledgeTierPerkRef.displayOrder }}</span>
          </dd>
          <dt><span jhiTranslate="abofonsaPreviewApp.pledgeTierPerk.tier">Tier</span></dt>
          <dd>
            @if (pledgeTierPerk()!.tier) {
              <div>
                <a [routerLink]="['/pledge-tier-teaser', pledgeTierPerk()!.tier?.id, 'view']">{{ pledgeTierPerkRef.tier?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/pledge-tier-perk', pledgeTierPerkRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
